<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
    	<h1>Default theme</h1>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>